.footer {
    position: relative;
    overflow: hidden;

    &__top {
        display: flex;
        justify-content: flex-start;
        padding: $half-gutter 0 $half-gutter;
        flex-direction: column;
        @include text-s;

        @include mq(md) {
            flex-direction: row;
        }
        @include mq(lg) {
            padding: calculatevw($grid-gutter-width / 2) 0;
        }
        @include mq(xxl) {
            padding: rem($grid-gutter-width / 2) 0;
        }

        > * {
            flex: 1;

            &:nth-child(2) {
                text-align: center;

                @include mq(md) {
                    text-align: right;
                }
            }
        }
    }

    &__middle {
        padding: $half-gutter 0;
        border-top: 1px solid color(white);
        border-bottom: 1px solid color(white);

        @include mq(sm) {
            padding: calculatevw($grid-gutter-width) 0;
        }

        @include mq(lg) {
            padding: calculatevw($grid-gutter-width) 0;
        }
        @include mq(xxl) {
            padding: rem($grid-gutter-width) 0;
        }
    }

    &__bottom {
        padding: 0 0 $half-gutter;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: $half-gutter;

        @include mq(md) {
            padding: $half-gutter 0 $half-gutter;
            grid-template-columns: repeat(3, 1fr);
        }
        @include mq(lg) {
            padding: calculatevw($grid-gutter-width / 2) 0;
        }
        @include mq(xxl) {
            padding: rem($grid-gutter-width / 2) 0;
        }

        > * {
            display: flex;
            align-items: center;

            &:nth-child(2) {
                justify-content: center;
            }

            &:nth-child(3) {
                justify-content: center;

                @include mq(md) {
                    justify-content: flex-end;
                }
            }
        }
    }

    &__dates {
        display: flex;
        margin: 0 rem(-12px);
        justify-content: center;

        @include mq(md) {
            justify-content: flex-start;
        }
        @include mq(lg) {
            margin: 0 calculatevw(-12px);
        }
        @include mq(xxl) {
            margin: 0 rem(-12px);
        }

        > * {
            padding: 0 rem(6px);
            display: flex;

            @include mq(sm) {
                padding: 0 rem(12px);
            }
            @include mq(lg) {
                padding: 0 calculatevw(12px);
            }
            @include mq(xxl) {
                padding: 0 rem(12px);
            }
        }
    }

    &__copyright {
        @include text-xs;
    }
}
