// Specific styles for intro section
.section {
    $parent: &;

    &--intro {
        position: relative;

        #{$parent}__circle {
            z-index: 2;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-75%, 0);

            @include mq(lg) {
                width: calculatevw(531px);
                height: calculatevw(531px);
            }

            @include mq(xxl) {
                width: rem(531px);
                height: rem(531px);
            }
        }

        .contentblock {
            &__content {
                @include mq(lg) {
                    max-width: 75%;
                }
            }

            &__image {
                flex-direction: column;

                @include mq(md) {
                    flex-direction: row;
                }

                &__decoration {
                    transform: translate(0, -15%);
                    width: 265px;
                    height: 265px;

                    @include mq(md) {
                        position: absolute;
                        bottom: 0;
                        transform: translate(-86%, 50%);
                    }
                }
            }
        }
    }
}
