$surrounding-padding: 3.5rem;

@mixin glitch {
    display: block;
    position: relative;

    &::before,
    &::after {
        content: attr(data-word);
        position: absolute;
        left: 0;
    }

    &::before {
        animation: glitchTop 1s linear 3;
        clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    }

    &::after {
        animation: glitchBotom 1.5s linear 3;
        clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    }
}

@mixin revealAnimation {
    animation-delay: var(--reveal-animation-delay, 1s);
    animation-iteration-count: var(--iterations, 1);
    animation-duration: var(--duration, 800ms);
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

@mixin reveal {
    position: relative;
    animation-name: clip-text;

    // white-space: nowrap;
    cursor: default;
    @include revealAnimation;

    &::after {
        content: "";
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: color(white);
        transform: scaleX(0);
        transform-origin: 0 50%;
        pointer-events: none;
        animation-name: text-revealer;
        @include revealAnimation;
    }
}

.pageheading {
    $parent: &;
    position: relative;
    padding: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    box-sizing: content-box;
    align-content: stretch;
    min-height: 100vh;

    --glitch-transform--x: 0%;
    --glitch-transform--y: 0%;

    &__background {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: none;

        @include mq(md) {
            display: initial;
        }

        img {
            position: absolute;
            object-fit: contain;
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        flex: 1 1 auto;
        padding: 10vh 0;
        margin: 0 0 $half-gutter;

        @include mq(sm, $direction: max) {
            width: 100%;
            max-width: 370px;
            align-self: center;
        }

        @include mq(md) {
            padding: 0;
            margin: 0;
        }

        #{$parent}__background {
            display: initial;

            @include mq(md) {
                display: none;
            }
        }

        > h1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            @include mq(md) {
                transform: translateY(8%);
                margin: -8% 0 -2%;
                padding-top: 3.5rem;
            }

            > * {
                display: flex;
                flex-direction: row;
                align-items: center;
                transform: translateY(10%);

                // The Super
                &:nth-child(1) {
                    position: relative;
                    transform: translate(0%, 20%);

                    --glitch-transform--y: 20%;

                    @include mq(sm) {
                        --glitch-transform--x: 10%;
                        --glitch-transform--y: 20%;
                        transform: translate(10%, 20%);
                    }

                    @include mq(md) {
                        --glitch-transform--x: 0%;
                        --glitch-transform--y: 20%;
                        transform: translateY(20%);
                    }

                    > span {
                        @include reveal;

                        &:nth-child(1) {
                            transform: translateY(-50%);

                            --glitch-transform--y: -50%;

                            // Optimize reveal effect bar height
                            &::after {
                                top: 4%;
                                bottom: 24%;
                            }
                        }

                        &:nth-child(2) {
                            --glitch-transform--y: 0%;

                            // Delay reveal
                            animation-delay: 1.4s;

                            &::after {
                                animation-delay: 1.4s;

                                // Optmize reveal effect bar height
                                top: 18%;
                                bottom: 13%;
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    align-self: flex-start;

                    --glitch-transform--y: 10%;

                    @include mq(sm) {
                        align-self: flex-start;
                    }
                    @include mq(md) {
                        align-self: center;
                    }

                    > * {
                        @include reveal;

                        // Delay reveal
                        animation-delay: 1.8s;

                        &::after {
                            animation-delay: 1.8s;
                        }
                    }

                    > span {
                        // Optimize reveal effect bar height
                        &::after {
                            top: 0%;
                            bottom: 25%;
                        }
                    }
                }

                &:nth-child(3) {
                    flex-direction: column;
                    @include reveal;

                    // Delay reveal
                    animation-delay: 2.2s;

                    &::after {
                        animation-delay: 2.2s;

                        // Optimize reveal effect bar height
                        top: 9%;
                        bottom: 24%;
                    }

                    @include mq(md) {
                        transform: translateX(10%);

                        --glitch-transform--x: 10%;
                    }

                    > *:nth-child(2) {
                        margin-left: 2rem;
                    }
                }
            }

            .banner {
                display: none;

                @include mq(md) {
                    display: block;
                    margin: 0 0 0 calculatevw(60px);
                }
                @include mq(lg) {
                    width: calculatevw(359px);
                }
                @include mq(xxl) {
                    margin: 0 0 0 rem(60px);
                    width: rem(359px);
                }
            }
        }
    }

    &__inner {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin: $one-third-gutter;
        position: relative;

        @include mq(sm) {
            margin: $two-third-gutter;
            background-origin: content-box;
        }

        @include mq(md) {
            margin: $surrounding-padding;
        }
    }

    &__banners {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 0 $half-gutter;
        flex: 1 1 auto;

        .banner {
            &[data-count="1"],
            &[data-count="2"] {
                @include mq(md, $direction: max) {
                    border: none;
                    padding: 0;
                    max-width: rem(100px);
                }
            }

            &[data-count="1"] {
                @include mq(md, $direction: max) {
                    flex: 1 1 auto;
                    justify-content: flex-start;
                    margin-right: rem(16px);
                }
            }

            &[data-count="2"] {
                @include mq(md, $direction: max) {
                    flex: 1 0 auto;
                    justify-content: flex-end;
                }
            }
        }

        &--bottom {
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 0;
            z-index: 3;
            position: relative;

            @include mq(md) {
                align-items: flex-start;
                justify-content: flex-end;
            }

            .banner {
                &:first-child {
                    display: inline-block;

                    @include mq(md) {
                        display: none;
                    }
                }

                + .banner {
                    margin: $half-gutter 0 0;
                }
            }
        }
    }
}

@keyframes glitch {
    2%,
    64% {
        transform: translate(calc(2px + var(--glitch-transform--x)), var(--glitch-transform--y)) skew(0deg);
    }

    4%,
    60% {
        transform: translate(calc(-2px + var(--glitch-transform--x)), var(--glitch-transform--y)) skew(0deg);
    }

    62% {
        transform: translate(calc(0px + var(--glitch-transform--x)), var(--glitch-transform--y)) skew(5deg);
    }
}

@keyframes glitchTop {
    2%,
    64% {
        transform: translate(calc(2px + var(--glitch-transform--x)), calc(-2px + var(--glitch-transform--y)));
    }

    4%,
    60% {
        transform: translate(calc(-2px + var(--glitch-transform--x)), calc(2px + var(--glitch-transform--y)));
    }

    62% {
        transform: translate(calc(13px + var(--glitch-transform--x)), calc(-1px + var(--glitch-transform--y))) skew(-13deg);
    }
}

@keyframes glitchBotom {
    2%,
    64% {
        transform: translate(calc(-2px + var(--glitch-transform--x)), var(--glitch-transform--y));
    }

    4%,
    60% {
        transform: translate(calc(-2px + var(--glitch-transform--x)), var(--glitch-transform--y));
    }

    62% {
        transform: translate(calc(-22px + var(--glitch-transform--x)), calc(5px + var(--glitch-transform--y))) skew(21deg);
    }
}

@keyframes clip-text {
    from {
        clip-path: inset(0 100% 0 0);
    }

    to {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes text-revealer {
    0%,
    50% {
        transform-origin: 0 50%;
    }

    60%,
    100% {
        transform-origin: 100% 50%;
    }

    60% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}
