$surrounding-padding: 3.5rem;

.pageheading {
    position: relative;
    background-image: url('../../static/img/mask.png');
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: contain;
    background-position: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    box-sizing: content-box;
    align-content: center;

    &__title {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
        margin: auto $surrounding-padding;
        align-items: center;

        > * {
            display: flex;
            align-items: center;
            justify-content: center;

            &:nth-child(1) {
                position: relative;

                > * {
                    &:nth-child(1) {
                        align-self: flex-start;

                        @include mq(lg) {
                            margin-bottom: calculatevw(100px);
                        }
                        @include mq(xxl) {
                            margin-bottom: rem(100px);
                        }
                    }

                    &:nth-child(2) {
                        align-self: flex-end;
                    }
                }
            }

            &:nth-child(2){

            }

            &:nth-child(3) {
                margin-left: rem(140px);

                @include mq(lg){
                    margin-left: calculatevw(140px);
                }
                @include mq(xxl){
                    margin-left: rem(140px);
                }

                > *:nth-child(2) {
                    margin-left: 2rem;
                }
            }

            &:nth-child(4){
                
            }
        }

        .banner {
            @include mq(lg) {
                margin: 0 0 0 calculatevw(60px);
                width: calculatevw(359px);
            }
            @include mq(xxl) {
                margin: 0 0 0 rem(60px);
                width: rem(359px);
            }
        }
    }

    &__inner {
        margin: $surrounding-padding;
        position: relative;
    }

    &__corner-banners {
        position: absolute;
        display: grid;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;

        .banner {
            position: absolute;

            &[data-count="1"],
            &[data-count="3"] {
                left: 0;
            }

            &[data-count="2"],
            &[data-count="4"] {
                right: 0;
            }

            &[data-count="3"],
            &[data-count="4"] {
                bottom: 0;
            }
        }
    }
}
