$surrounding-padding: 3.5rem;

.pageheading {
    position: relative;
    padding: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    box-sizing: content-box;
    align-content: stretch;


    &__title {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
        margin: auto auto $half-gutter auto;
        align-items: center;
        align-self: stretch;
        flex: 1 1 auto;
        justify-content: center;

        @include mq(md, $direction: max){
            background-image: url('../../static/img/mask.png');
            background-repeat: no-repeat;
            background-origin: content-box;
            background-size: contain;
            background-position: center;
            
        }

        @include mq(md){
            margin: auto $surrounding-padding;
        }

        > * {
            display: flex;
            align-items: center;
            justify-content: center;

            &:nth-child(1) {
                position: relative;

                > * {
                    &:nth-child(1) {
                        align-self: flex-start;

                        @include mq(lg) {
                            margin-bottom: calculatevw(100px);
                        }
                        @include mq(xxl) {
                            margin-bottom: rem(100px);
                        }
                    }

                    &:nth-child(2) {
                        align-self: flex-end;
                    }
                }
            }

            &:nth-child(2){

            }

            &:nth-child(3) {
                margin-left: rem(140px);

                @include mq(lg){
                    margin-left: calculatevw(140px);
                }
                @include mq(xxl){
                    margin-left: rem(140px);
                }

                > *:nth-child(2) {
                    margin-left: 2rem;
                }
            }

            &:nth-child(4){
                
            }
        }

        .banner {
            display: none;

            @include mq(md){
                display: block;
            }
            @include mq(lg) {
                margin: 0 0 0 calculatevw(60px);
                width: calculatevw(359px);
            }
            @include mq(xxl) {
                margin: 0 0 0 rem(60px);
                width: rem(359px);
            }
        }
    }

    &__inner {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin: $one-third-gutter;
        position: relative;

        @include mq(sm){
            margin: $two-third-gutter;
        }

        @include mq(md){
            margin: $surrounding-padding;
            background-image: url('../../static/img/mask.png');
            background-repeat: no-repeat;
            background-origin: content-box;
            background-size: contain;
            background-position: top center;
        }
    }

    &__banners {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 0 $half-gutter;
        
        .banner {
            &[data-count="1"],
            &[data-count="2"] {
                @include mq(md, $direction: max){
                    border: none;
                    padding: 0;
                }
            }
        }

        &--bottom {
            justify-content: center;
            flex-direction: column;
            align-items: center;

            @include mq(md){
                align-items: flex-start;
                justify-content: start;
            }

            .banner  {
                &:first-child {
                    display: inline-block;
        
                    @include mq(md) {
                        display: none;
                    }
                }

                + .banner {
                    margin: $half-gutter 0 0;
                }
            }
        }
    }
}
