html {
    overflow-x: hidden;
    background-color: color(black);
    color: color(white);
}

body,
#__next {
    min-height: 100vh;
}

body {
    -webkit-font-smoothing: antialiased;
    font-size: rem(16px);

    @include mq(lg) {
        font-size: calculatevw(16px);
    }
    @include mq(xxl) {
        font-size: rem(16px);
    }
}

main {
    display: block;
}

img {
    max-width: 100%;
}

/*
    This will hide the focus indicator if the element receives focus via the mouse,
    but it will still show up on keyboard focus.
*/
.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

.horizontal-line-spacer {
    display: inline-flex;
    width: rem(20px);
    height: rem(1px);
    background-color: color(white);
    align-self: center;

    @include mq(sm) {
        width: rem(60px);
    }
    @include mq(md) {
        width: calculatevw(60px);
    }
    @include mq(xxl) {
        width: rem(60px);
    }
}
