.section {
    position: relative;
    min-height: 100vh;
    padding: ($grid-gutter-width * 4) 0;

    @include mq(lg) {
        padding: calculatevw($grid-gutter-width * 4) 0;
    }
    @include mq(xxl) {
        padding: rem($grid-gutter-width * 4) 0;
    }
    

    &.half-padding {
        padding: ($grid-gutter-width * 2) 0;

        @include mq(lg) {
            padding: calculatevw($grid-gutter-width * 2) 0;
        }
        @include mq(xxl) {
            padding: rem($grid-gutter-width * 2) 0;
        }
    }

    &.no-padding {
        padding: 0;
    }

    &__inner {
        position: relative;
    }

    &__title {
        &--tilted {
            position: absolute;
            top: 50%;
            display: block;
            height: auto;
            transform: translateY(-50%);
            width: calculatevw(130px);

            @include mq(lg) {
                left: calculatevw(-5px);
                width: calculatevw(130px);
            }

            @include mq(xl) {
                left: rem(-5px);
                width: rem(130px);
            }
        }

        &__colon {
            height: .85ch;
            width: auto;
            display: inline-block;

            @include mq(lg) {
                height: calculatevw(85px);
            }
            @include mq(xxl) {
                height: rem(85px);
            }
        }
    }
}
