// Falbacks
@mixin font-stack-base {
    font-family: 'Apercu', 'Open Sans', sans-serif;
}

@mixin font-stack-heading {
    font-family: 'Ohno Blazeface', sans-serif;
}

@mixin text-link {
    font-style: italic;
    font-size: rem(20px);
    text-decoration: underline;
    cursor: pointer;
}

@mixin text-jumbo {
    font-size: rem(120px);

    @include mq(lg) {
        font-size: calculatevw(120px);
    }
    @include mq(xxl) {
        font-size: rem(120px);
    }
}

@mixin text-xxxl {
    font-size: rem(64px);

    @include mq(lg) {
        font-size: calculatevw(64px);
    }
    @include mq(xxl) {
        font-size: rem(64px);
    }
}

@mixin text-xxl {
    font-size: rem(48px);

    @include mq(lg) {
        font-size: calculatevw(48px);
    }
    @include mq(xxl) {
        font-size: rem(48px);
    }
}

@mixin text-xl {
    font-size: rem(30px);

    @include mq(lg) {
        font-size: calculatevw(30px);
    }
    @include mq(xxl) {
        font-size: rem(30px);
    }
}

@mixin text-l {
    font-size: rem(16px);
    line-height: 1.2;

    @include mq(lg) {
        font-size: calculatevw(22px);
    }
    @include mq(xxl) {
        font-size: rem(22px);
    }
}

@mixin text-m {
    font-size: rem(18px);

    @include mq(lg) {
        font-size: calculatevw(18px);
    }
    @include mq(xxl) {
        font-size: rem(18px);
    }
}

@mixin text-s {
    font-size: rem(16px);
    line-height: 1.6;

    @include mq(lg) {
        font-size: calculatevw(16px);
    }
    @include mq(xxl) {
        font-size: rem(16px);
    }
}

@mixin text-xs {
    font-size: rem(14px);
    line-height: rem(20px);

    @include mq(lg) {
        font-size: calculatevw(14px);
        line-height: calculatevw(20px);
    }
    @include mq(xxl) {
        font-size: rem(14px);
        line-height: rem(20px);
    }
}

@mixin text-xxs {
    font-size: rem(12px);
}

/* stylelint-disable */
@mixin heading($size) {
    font-family: "Ohno Blazeface";

    font-size:
        map-get((
            h1: rem(56px),
            h2: rem(50px),
            h3: rem(24px),
            h4: rem(20px),
            h5: rem(18px),
            h6: rem(16px)
        ), $size);

    line-height:
        map-get((
            h1: 1.2,
            h2: .96,
            h3: 1.2,
            h4: 1.2,
            h5: 1.2,
            h6: 1.2
        ), $size);

    font-weight: $font-weight-bold;

    // @include mq(md) {
    //     font-size:
    //     map-get((
    //         h1: rem(45px),
    //         h2: rem(100px),
    //         h3: rem(24px),
    //         h4: rem(22px),
    //         h5: rem(20px),
    //         h6: rem(16px)
    //     ), $size);
    // }

    @include mq(sm) {
        font-size:
        map-get((
            h1: calculatevw(200px), // 200px at 1440px,
            h2: calculatevw(150px), // 150px at 1440px,
            h3: calculatevw(60px), // 60px at 1440px,
            h4: rem(30px),
            h5: rem(20px),
            h6: rem(16px)
        ), $size);

        line-height:
        map-get((
            h1: calculatevw(200px),
            h2: calculatevw(150px),
            h3: 1.2,
            h4: 1.2,
            h5: 1.2,
            h6: 1.2
        ), $size);
    }
    @include mq(xxl) {
        font-size:
        map-get((
            h1: rem(200px), // 200px at 1440px,
            h2: rem(150px), // 150px at 1440px,
            h3: rem(60px), // 60px at 1440px,
            h4: rem(30px),
            h5: rem(20px),
            h6: rem(16px)
        ), $size);

        line-height:
        map-get((
            h1: rem(200px),
            h2: rem(150px),
            h3: 1.2,
            h4: 1.2,
            h5: 1.2,
            h6: 1.2
        ), $size);
    }
}
/* stylelint-enable */

// Elements

body,
input,
button {
    @include font-stack-base;
}

h1,
.h1 {
    @include heading(h1);
    margin: 0;
    margin-bottom: $spacing-med;
    font-weight: $font-weight-light;
}

h2,
.h2 {
    @include heading(h2);
    margin: 0;
    margin-bottom: $spacing-med;
    font-weight: $font-weight-light;
}

h3,
.h3 {
    @include heading(h3);
    margin: 0;
    margin-bottom: $spacing-med;
    font-weight: $font-weight-light;
}

h4,
.h4 {
    @include heading(h4);
    margin: 0;
    margin-bottom: $spacing-med;
    font-weight: $font-weight-light;
}

h5,
.h5 {
    @include heading(h5);
    margin: 0;
    margin-bottom: $spacing-med;
    font-weight: $font-weight-light;
}

h6,
.h6 {
    @include heading(h6);
    margin: 0;
    margin-bottom: $spacing-med;
    font-weight: $font-weight-light;
}

p,
.copy {
    @include text-s;
    text-decoration: none;

    [class$='--primary'] &,
    .section--primary &,
    .overlay--primary & {
        color: color(white);
    }

    &--large {
        @include text-l;

        p {
            @include text-l;
        }
    }

    &--jumbo {
        @include text-xl;

        p {
            @include text-xl;
        }
    }
}

a {
    text-decoration: none;
}
