.marquee {
    display: flex;

    &__track {
        display: flex;
        animation: marquee 10s linear infinite;
        will-change: transform;

        * {
            display: inline-flex;
            white-space: nowrap;
            margin: 0;
        }

        > * {
            margin: 0 $spacing-xxl 0 0;
        }
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}
