.blinking-mask {
    position: relative;
    display: inline-block;
    margin: 0 auto;

    &__phrase {
        position: absolute;
        @include font-stack-heading;
        top: 50%;
        transform: translate(-100%, -50%);

        &--1 {
            left: -8.9%;
        }

        &--2 {
            right: -8.9%;
            transform: translate(100%, -50%) scaleX(-1);
        }
    }

    &__beams {
        &__wrapper {
            position: relative;
            display: inline-block;
            margin: 0 auto;
        }

        &--small {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @include mq(lg) {
                width: calculatevw(435px);
                height: calculatevw(435px);
            }
            @include mq(xxl) {
                width: rem(435px);
                height: rem(435px);
            }

            > svg {
                @include childImage;
            }
        }

        &--large {
            height: auto;

            @include mq(lg) {
                width: calculatevw(635px);
                height: calculatevw(635px);
            }
            @include mq(xxl) {
                width: rem(635px);
                height: rem(635px);
            }

            > svg {
                @include childImage;
            }
        }
    }

    &__flare {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: auto;

        @include mq(lg) {
            width: calculatevw(181px);
        }
        @include mq(xxl) {
            width: rem(181px);
        }
        
        svg {
            @include childImage;
        }
    }

    &__image {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 11.33%;
        height: auto;
        display: block;

        > img {
            @include childImage;
        }
    }
}
